@import url("./home-page.css");
@import url("./collection-page.css");
@import url("./comic-collection.css");
@import url("./comic-show.css");
@import url("./comic-thumbnail.css");
@import url("./input-wrapper.css");
@import url("./register-form.css");
@import url("./login-form.css");
@import url("./modal.css");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=GFS+Didot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body{
    background-color: #203C73;
}

#logo {
    width: 3.5vw;
    margin-left: 120px;
    margin-top: 45px;
    position: absolute;
    z-index: 1;
}
#logo:hover {
    cursor: pointer;
}
