.back-btn {
    position: absolute;
    top: 60px;
    left: 300px;
    font-size: 1.5rem;
    color: white;
}
  
.back-btn i {
    margin: 10px;
}
  
.back-btn:hover {
    cursor: pointer;
}
  
.comic-container {
    position: relative;
    top: 115px;
    margin: 0 auto;
    width: 60vw;
    height: auto;
}

.comic-container > stats-bar > .stats-bar {
    margin-left: auto;
    margin-right: 0;
}
