.login-form {
    width: 100%;
    height: auto;
    color: #888888;
  }
    
.login-form .rmb-tickbox {
    font-size: 16px;
    color: #4f4f4f;
    margin: 5px 0 15px 0;
    text-align: left;
}
    
.login-form .login-btn {
    width: 70%;
    height: 45px;
    max-width: 300px;
    background: #5379ff;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin: 25px 0;
    border-radius: 100px;
}
    
.login-form .flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
    
  