.stats-bar {
    max-width: 10vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    color: white;
} 
.fa-eye, .fa-heart {
    margin: 10px;
}

.fa-heart:hover {
    cursor: pointer;
    color: pink;
}

.loved {
    color: pink;
}
  