.audio-info h4 {
    font-size: 1.1rem;
    color: #5379ff;
  }
  
.tool-bar-wrapper {
    display: grid;
    grid-template-columns: 15% 70% 10% ;
    gap: 10px;
    align-items: center;
    padding: 5px 15px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
}

.tool-bar-items {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-bar-items > button {
    box-shadow: none;
    background: none;
    font-size: 1.2rem;
}
  
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
 }
  
.progress {
    background-color: #5379ff;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
.tool-bar-items i:hover {
    cursor: pointer;
}
  
#volume-btn {
    position: relative;
    display: flex;
    align-items: center;
}
  
#volume-btn:hover #slider {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
  
#slider {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    visibility: hidden;
    transition: 1s;
    position: absolute;
    bottom: 100px;
    left: -50px;
    transform: rotate(-90deg);
}

  